In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt 
import seaborn as sns

In [2]:
#Carga de datos y  comprobación del shape
pd.set_option('display.max_columns', None)
category_ori = pd.read_csv("../data/category.csv", encoding = "latin1")
category_ori.shape

(16, 3)

In [7]:
#Creación de copia para trabajar
category = category_ori.copy()
category

    category_id         name          last_update
0             1       Action  2006-02-15 04:46:27
1             2    Animation  2006-02-15 04:46:27
2             3     Children  2006-02-15 04:46:27
3             4     Classics  2006-02-15 04:46:27
4             5       Comedy  2006-02-15 04:46:27
5             6  Documentary  2006-02-15 04:46:27
6             7        Drama  2006-02-15 04:46:27
7             8       Family  2006-02-15 04:46:27
8             9      Foreign  2006-02-15 04:46:27
9            10        Games  2006-02-15 04:46:27
10           11       Horror  2006-02-15 04:46:27
11           12        Music  2006-02-15 04:46:27
12           13          New  2006-02-15 04:46:27
13           14       Sci-Fi  2006-02-15 04:46:27
14           15       Sports  2006-02-15 04:46:27
15           16       Travel  2006-02-15 04:46:27

In [8]:
new_category = [17, "Unknown","2023-10-27"]
category.loc[len(category)] = new_category

In [9]:
category.name.value_counts()

Action         1
Games          1
Travel         1
Sports         1
Sci-Fi         1
New            1
Music          1
Horror         1
Foreign        1
Animation      1
Family         1
Drama          1
Documentary    1
Comedy         1
Classics       1
Children       1
Unknown        1
Name: name, dtype: int64

In [10]:
category.drop(columns = ["last_update"], inplace = True)

In [11]:
category.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

In [12]:
category.reset_index(drop=True, inplace=True)
category.to_csv("../data/category_clean.csv", index=False)