In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt 
import seaborn as sns

In [2]:
#Carga de datos y  comprobación del shape
pd.set_option('display.max_columns', None)
inventory_ori = pd.read_csv("../data/inventory.csv", encoding = "latin1")
inventory_ori.shape

(1000, 4)

In [3]:
#Creación de copia para trabajar
inventory = inventory_ori.copy()
inventory.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [4]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [7]:
inventory[inventory.duplicated(subset =["inventory_id"])]

Empty DataFrame
Columns: [inventory_id, film_id, store_id, last_update]
Index: []

In [16]:
inventory.film_id.max()

223

In [17]:
inventory.reset_index(drop=True, inplace=True)
inventory.to_csv("../data/inventory_clean.csv", index=False)

In [20]:
inventory.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17