In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt 
import seaborn as sns

In [2]:
#Carga de datos y  comprobación del shape
pd.set_option('display.max_columns', None)
old_HDD_ori = pd.read_csv("../data/old_HDD.csv", encoding = "latin1")
old_HDD_ori.shape

(1000, 5)

In [3]:
#Creación de copia para trabajar
old_HDD = old_HDD_ori.copy()
old_HDD.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [4]:
old_HDD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [9]:
old_HDD.first_name.value_counts()

SANDRA       56
VAL          35
UMA          35
JULIA        33
RIP          33
HELEN        32
KARL         31
WOODY        31
VIVIEN       30
LUCILLE      30
GRACE        30
JOHNNY       29
BURT         29
ALEC         29
CUBA         28
KIRSTEN      27
FRED         27
ELVIS        26
ZERO         25
BOB          25
NICK         25
AUDREY       25
JOE          25
TOM          25
MILLA        24
CAMERON      24
TIM          23
DAN          22
ED           22
JENNIFER     22
CHRISTIAN    22
KEVIN        21
MATTHEW      20
BETTE        20
PENELOPE     19
SISSY        18
JUDY         15
GOLDIE        7
Name: first_name, dtype: int64