In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt 
import seaborn as sns

In [2]:
#Carga de datos y  comprobación del shape
pd.set_option('display.max_columns', None)
rental_ori = pd.read_csv("../data/rental.csv", encoding = "latin1")
rental_ori.shape

(1000, 7)

In [3]:
#Creación de copia para trabajar
rental = rental_ori.copy()
rental.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [4]:
rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 54.8+ KB

In [8]:
rental.staff_id.value_counts()

2    521
1    479
Name: staff_id, dtype: int64

In [10]:
rental[rental.duplicated(subset =["inventory_id"])]

Empty DataFrame
Columns: [rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update]
Index: []

# El DATAFRAME  rentals tiene registros de alquileres pasados en los que los ids de inventario y clientes ya no corresponden con los existentes en la respectivas tablas, por lo que se decide eliminar los registros con el objetivo de que la tabla sirva para almacenar registros futuros con ids actualizados

In [17]:
rental.drop(rental.index, inplace=True)
rental

Empty DataFrame
Columns: [rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update]
Index: []

In [18]:
rental.reset_index(drop=True, inplace=True)
rental.to_csv("../data/rental_clean.csv", index=False)