In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt 
import seaborn as sns

In [2]:
#Carga de datos y  comprobación del shape
pd.set_option('display.max_columns', None)
language_ori = pd.read_csv("../data/language.csv", encoding = "latin1")
language_ori.shape

(6, 3)

In [3]:
#Creación de copia para trabajar
language = language_ori.copy()
language.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [4]:
language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [5]:
language.drop(columns = ["last_update"], inplace = True)

In [6]:
#language.head()

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French

In [7]:
language.reset_index(drop=True, inplace=True)
language.to_csv("../data/language_clean.csv", index=False)

In [8]:
language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes